@model aspnet31.Models.Supplier

@{
    ViewData["Title"] = "Delete Supplier";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <div class="form-group">
                <Label>@Html.DisplayNameFor(model => model.Id)</Label>
                <input asp-for="Id" class="form-control" readonly/>
                <label>@Html.DisplayNameFor(model => model.Name)</label>
                <input asp-for="Name" class="form-control" readonly/>
            </div>
            <div>
                <input class="btn btn-danger" type="submit" value="Delete" />
            </div>
        </form>
        <div>
            <a class="btn btn-link" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
