<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Register</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet">
        <link href="~/css/register.css" rel="stylesheet">
    </head>
    <body>
        <div class="right">
            <form>
                <div class="grup">
                    <h1 class="title">Register</h1>
                    <input type="text" name="nama" placeholder="FullName">

                    <input type="text" name="username" placeholder="Username">

                    <input type="Password" name="password" placeholder="Password">

                    <input type="email" name="email" placeholder="Email">

                    <input type="text" name="alamat" placeholder="Gender">

                    <input type="text" name="noktp" placeholder="Nationality">

                    <input type="datetime" name="nohp" placeholder="BirthDate">

                    <br>

                    <button type="submit" class="buttons" name="register"> REGISTER </button> 
                    <button type="reset" class="buttons">CLEAR</button>
                </div>
            </form>
        </div>
        <div class="mySlides">
            <div class="left" id="slide">
                <div class="componen">
                    <img class="image"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuVXy0bzHqgWKTQKSMS_cLOhq_7fajxuDzMRqvNY4NXQ&s"/>
                    <h1>Kisah Cintaku selalu Berakhir</h1>
                    <h3>Setengah Jalan</h3>
                </div>
            </div>
        </div>
        <div class="mySlides">
            <div class="left" >
                <div class="componen">
                    <img class="image"src="https://source.unsplash.com/1000x1000/?soccer"/>
                    <h1>Kesendirian ini</h1>
                    <h3>Masa Muda yang tlah kulalui</h3>
                </div>
            </div> 
        </div>
        <div class="mySlides">
            <div class="left">
                <div class="componen">
                    <img class="image"src="https://source.unsplash.com/1000x1000/?game"/>
                    <h1>terasa amat kaku</h1>
                    <h3>Kereta kedewasaan tak sempat kunaiki lagi</h3>
                </div>
            </div>
        </div>
        <div class="mySlides">
            <div class="left">
                <div class="componen">
                    <img class="image"src="https://source.unsplash.com/1000x1000/?car"/>
                    <h1>Melihatnya berlalu</h1>
                    <h3>Kurasakan sakit dalam hati</h3>
                </div>
            </div>
        </div>
        <script src="~/js/register.js"></script>
    </body>
</html>
