@model aspnet31.Models.Product

@{
	ViewData["Title"] = "Details Product";
}

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group row">
                <Label class="col-md-6 col-form-label" for="StaticId">Product Id : </Label>
                <div class="col-md-12">
                    <input asp-for="Id" type="text" readonly class="form-control">
                </div>
                <Label class="col-md-6 col-form-label" for="StaticName">Product Name : </Label>
                <div class="col-md-12">
                    <input asp-for="name" type="text" readonly class="form-control">
                </div>
                <Label class="col-md-6 col-form-label" for="StaticSupplierId">Supplier Name : </Label>
                <div class="col-md-12">
                    <input asp-for="suppliers.Name" type="text" readonly class="form-control">
                </div>
            </div>
        </form>
        <div>
            <a class="btn btn-link" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
