@{
	ViewData["Title"] = "Dashboard Page";
	Layout = "_LayoutAdministrator";
}
<div class="row justify-content-center">
	<div class="firstChart">
        <canvas id="myChart"></canvas>
    </div>
</div>
<div class="row justify-content-center">
	<a id="download"
        download="ChartImage.jpg" 
        href=""
        class="btn btn-primary float-left bg-flat-color-1"
        title="ini apa">

        <!-- Download Icon -->
        <i class="fa fa-download"></i>
    </a>
</div>
