/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 8, 2020, 7:06:50 PM
    Author     : SFFel
*/


input {
    border-style: hidden hidden solid;
    display: block;
    margin-left: 12em;
    margin-top: 3em;
}

* {
    color: black;
    text-decoration: none;
}

.welcome {
    margin-top: 17em;
}

.left {
    width: 50%;
    display: inline-block;
    height: 80vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden;
    margin-top: 80px;
}

.title {
    font-weight: 600;
    margin-bottom: 3em;
    margin-top: 3em;
}

.buttons {
    display: inline-block;
    background-color: white;
    padding: 1em 2em;
    margin-left: 14em;
    margin-top: 1em;
    margin-bottom: 3em;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    transition: border-radius .3s, color 1s,background-color 1s,box-shadow 1s;
}

    .buttons:hover {
        border-radius: 30px;
        background-color: #41dae8;
        color: white;
        box-shadow: 0 4px 8px 0 #3adbff, 0 6px 20px 0 #3adbff;
    }

.right {
    width: 50%;
    height: 80vh;
    background-color: #e8e8e8;
    margin: 0;
    display: inline-block;
    overflow: hidden;
    float: right;
    text-align: center;
    margin-top:80px;
}
